<div class="">
    <div class="p-12">
      <h1 class="text-6xl text-black font-sans">404</h1>
      <p class="text-3xl text-black mt-14">We're sorry, the page you’re looking for can’t be found.</p>
    </div>
  
    <div class="text-xl p-12 font-light">
      <p>Let's get you to where you need to go.</p>
      <p>Try:</p>
      <ol class="list-decimal ml-10 p-2">
        <li class="pl-4 font-medium">
          <p class="font-light">Checking the spelling of your link (URL) in the address bar</p>
        </li>
        <li class="pl-4 font-medium">
          <p class="font-light">Going back and browsing from the <a href = '' class="text-blue font-medium">homepage</a>.</p>
        </li>
      </ol>
    </div>
</div>