<!-- about-me.component.html -->
<div class="flex items-center justify-center pt-10">
    <h1 class="text-5xl text-center flex items-center">
      Wendy&nbsp;
      <app-slide-right [text]="'Tygrett'" class="font-semibold"></app-slide-right>
    </h1>
  </div>
  
  <div class="flex flex-col items-center justify-start h-[75vh] pt-8 space-y-8">
    <div class="flex justify-center space-x-4 flex-wrap sm:flex-nowrap">
      <app-button [borderRadius]="'2rem'" variant="navy">LinkedIn</app-button>
      <app-button [borderRadius]="'2rem'" variant="eggplant">GitHub</app-button>
      <app-button [borderRadius]="'2rem'" variant="emerald">Resume</app-button>
    </div>
  
    <!-- Header Component with tabClicked event binding -->
    <app-header (tabClicked)="updateTextToDisplay($event)"></app-header>
  
    <!-- CodeCog Component with Typing Effect -->
    <app-code-cog [textToType]="textToDisplay"></app-code-cog>
  
    <!-- Content Panels -->
    <div class="w-full p-6 flex flex-col flex-grow">
      <div class="px-2 font-semibold">WORK EXPERIENCE</div>
      <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex-grow">
        <div class="flex space-x-4 pb-2 overflow-x-auto justify-center">
          <button *ngFor="let tab of workTabs"
                  class="py-2 px-4 text-gray-700 font-medium transition-all duration-200"
                  [class.bg-white]="activeWorkTab === tab"
                  [class.shadow-md]="activeWorkTab === tab"
                  [class.rounded-lg]="activeWorkTab === tab"
                  [class.border-none]="activeWorkTab !== tab"
                  (click)="setActiveWorkTab(tab)">
            {{ tab }}
          </button>
        </div>
        <div class="mt-4 text-gray-800 text-center">
          <ng-container *ngIf="activeWorkTab === 'CGI 2023-2025'">
            <p class="font-semibold">June 2023 - Current ({{ currentMonthYear }})</p>
            <!-- Your description here -->
          </ng-container>
          <!-- More content here -->
        </div>
      </div>
    </div>
  </div>
  